# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
log*/

# Editor and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build files (if any)
dist/
build/
